p{
    color: #ED4C67;
    padding:  20px;
    border: 1px solid #ED4C67; 
}
.container.box{
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
}
body{
    margin: 0;
    padding: 0;
    background-size: cover;
 }
.container{
   width: 1120px;
    padding: 30px 30px;
    margin: 50px auto;
    background-color: white;
}
.container.box{
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
}
[data-toggle= 'modal']{
    padding : 15px 25px;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}